
/*cookies*/
.barra-aceptacion-cookie{
  background: rgba(42,42,42, .9);
  border-top: thin solid #606060;
  position: fixed;
  bottom:0;
  font-size: 14px;
  font-family: $base-font-family;
  text-align: center;
  padding: .5em 1em;
  width: 100%;
  z-index: 999999;
  @include media-query($on-smartphone){
    display: none !important;
  }
  p{
    color: #FEFF27;
    font-size: .8em;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: normal;
  }
  a, a:hover{
    color: #fff;
  }
}
.btn-cookie{
  display: inline-block;
  border: 1px solid transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  color: #333333;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  padding: 3px 15px;
  text-decoration: none;
}
/*botón up*/
.boton-subir{
  display: none;
  background: $color-name;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 15px;
  bottom:25%;
  z-index: 999999999;
  &:hover{
    border: 2px solid #4F4B4B;
    //box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
  }
  i{
    color: #fff;
    font-size: 1.5em;
    padding: 13px 10px 10px 9px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
  }
}

.post-footer {
    position: relative;
    margin: 6rem 0 2em 0;
    padding: 4rem 0 0 0;
    border-top: #454545 1px solid;
    text-align: center;
}
.author-image {
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: #282828;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 2px 2px;
}
.author-image .img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

.author-meta {
    padding: 0;
    margin: 1em 0;
    list-style: none;
    font-size: 1em;
    line-height: 1;
    font-style: italic;
    color: #3C3D34;
    a{
      color: #3C3D34;
    }
}
/*estilos para la página política de cookies*/
.box-politica-cookies{
  font-size: 2em;
  overflow-x: scroll;
  margin-bottom: .7em;
}
/*contacto*/
.box-contacto{
  margin-top: 1em;
  width: 100%;
}
.formulario-contacto, .container-geo{
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  width: 49%;
  @include media-query($on-laptop){
    width: 100%;
  }
}
.formulario-contacto{
  font-family: $base-font-family;
  .form-imput input, .form-imput textarea{
    font-family: $base-font-family;
    border: thin solid $color-green;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 15px;
    padding: 5px;
    transition: 1s;
    &:focus{
      outline: none;
      border-top:thin solid transparent;
      border-right:thin solid transparent;
      border-left:thin solid transparent;
      border-bottom:thin solid $color-green;
    }
  }
  .form-imput input{
    height: 40px;
    width: 100%;
  }
  .form-imput textarea{
    height: 100px;
    resize: vertical;
    width: 100%;
    &:focus{
      border:thin solid $color-green;
    }
  }
  .form-imput input[type='submit']{
    background-color: darken($color-green, 5%);
    color: rgba(255, 255, 255, 1);
    &:hover{
    background-color: lighten($color-green, 10%);
    color: rgba(0, 0, 0, .7);
    }
    &:focus{
      border:thin solid $color-green;
    }
  }
}
.sub-title-contacto{
  text-transform: inherit;
}
.box-item-contacto{
  border: thin solid $color-green;
  padding: 5px;
  margin-top: .5em;
  width: 100%;
  @include media-query($on-palm){
    padding: 0;
  }
}
.item-contacto{
  display: inline-block;
  margin:0;
  padding-left: 10px;
  vertical-align: top;
  height: 100%;
  width: 49.5%;
  &:first-child{
    border-right: thin solid $color-green;
  }
  @include media-query($on-palm){
    width: 100%;
    border-bottom: thin solid $color-green;
    padding: 5px;
    &:last-child{
      border-bottom: none;
    }
    &:first-child{
      border-right: none;
    }
  }
}
.ico-email{
  color: #F1C43A;
}
.ico-phone{
  color: $bg-menu;
  font-size: 25px !important;
}
.title-geo{
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-top: 1em;
}
#map_canvas{
  background: transparent !important;
  border-radius: 5px;
  border: thin solid $color-green;
  height: 270px;
  width: 100%;
  -webkit-box-shadow: 5px 3px 15px 2px #fbebff;
  box-shadow: 5px 3px 31px 2px #fbebff;
  overflow: hidden;
}
/*thanks*/
.mensaje-bien{
  display: block;
  color: $color-green;
  font-size: 5em;
  line-height: .1em;
  margin-bottom: 15px;
}
/*acerca*/
img.familia-mas{
    display: block;
    margin: 0 auto;
}
p.text-foo{
    text-align: center;
    margin-top: 15px;
}
//para ie antiguos
.browser-antiguo{
  background-color:#363636;
  position: fixed;
  text-align: center;
  height: 100%;
  width: 90%;
  padding: 0 5%;
  z-index: 999999;
  .browserupgrade{
    font-size: 2.5em;
    color: #A7A7A7;
    vertical-align: middle;
    position:relative;
    top: 30%;
    a{
      color: #1A5FBB;
      &:hover{
        color: darken(#1A5FBB, 10%);
      }
    }
  }
}
//página archive
.contenedor-archivos{
  display: block;
  min-height: 300px;
  width: 100%;
  .box-buscador{
    position: relative;
    font-size: 18px;
    label {
      position: absolute;
      left: 13px;
      top: 7px;
    }
    .campo-buscador{
      font-size: 1.5em;
      border: thin solid #004B97;
      border-radius: 20px;
      padding: 0 1.5em;
      height: 40px;
      width: 70%;
      margin-bottom: 10px;
      @include media-query($on-smartphone){
        width: 100%;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .box-resultados{
    margin-top: 1.5em;
    .mensaje-resulados{
      margin-bottom: 1.5em;
      margin-top: -1.5em;
      font-size: 12px;
    }
  }
}
.lista-articulos{
  position: relative;
  padding-left: 1.5em;
}
.search-items{
  a{
    display: inline;
  }
  &::before{
    position: absolute;
    left: 0;
    color: #00356A;
    content: "\f10c";
    font-family: "FontAwesome";
    margin-right: .5em;
  }
}
.mensaje-resulados{
  margin-left: -1.5em;
}
//curriculum vitae
.imprimir-curriculum{
  color: #008080;
  margin: -20px auto 0 auto;
  display: block !important;
  font-size: 3.5em !important;
  text-align: center;
  transition: .1s;
  width: 1.5em;
  &:hover{
    color: lighten(#008080, 2%);
    text-decoration: none;
  }
  &:focus, &:visited{
    color: #008080;
  }
}
.box-curriculum{
  position: relative;
}
.box-img-curriculum{
  display: block;
  position: absolute;
  right: 0;
  top:74px;
  height: 250px;
  width: 200px;
  overflow: hidden;
  @include media-query($on-laptop){
    position: initial;
    margin: 0 auto 1em auto;
  }
}
.img-curriculum{
  max-width: 125%;
  background-size: 125%;
  margin-left: -12.5%;
  margin-right: -12.5%;
}
.lista-curriculum{
  list-style-type: none;
  overflow-x: scroll;
  .lista-curriculum-item{
    font-size: 32px;
    h2{
      margin-top: 1.3em;
    }
  }
  .lista-curriculum-item:first-child{
    h2{
      margin-top: 0;
    }
  }
}
.tabla-datos{
  border-spacing: 10px;
  border-collapse: collapse;
  font-size: .5em;
  width: 100%;
  tr{
    &:hover td{
      background-color: #AED7FF;
    }
    td{
      vertical-align:top;
      border-bottom:thin solid #DBDBDB;
      border-top:thin solid transparent;
      padding: 5px;
    }
  }
}
.titulo-encabezado{
  background: rgba(73,155,234,1);
  border-bottom: 1px solid #000;
  text-align: center;
  th{
    border: 1px solid #000;
    padding: 5px;
    font-size: 1.3em;
  }
}
.a-nacimiento{
  visibility: hidden;
}

//Publicidad
.pub-top-01luisrene{
  margin-top: 1em;
}
.pub-all-01luisrene{
  margin-top: 1em;
  margin-bottom: 1em;
}